<div class="container">
  <div class="courses">
    <ul>
      <% @course_names.each do |course| %>
        <li><%= link_to course, course_path(course) %></li>
      <% end %>
    </ul>
  </div>
</div>
