<div class="container">
  <div class="courses">
    <!-- <p><%= @course_links %></p> -->
    <ul>
      <% @courses.each do |course| %>
        <li>
          <%= course.name %>
          <%= course.id %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
